/*
.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

form input {
    display: inline-block;
    margin: 2px;
    width: 200px;
    padding: 1px;
    border-width: 1px;
}

form select {
    display: inline-block;
    margin: 2px;
    width: 200px;
    padding: 1px;
    border-width: 1px;
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
*/
